
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="index-back">
    <img src="~/Content/imagedetail/backgoundadmin.jpg" />
</div>
<style>
    .index-back img{
        position:absolute;
        width:99.8%;
        height:1650%;
        top:5%;
        margin-left:-18px;
    }
</style>